
<body>
    <div class="main">
<div class="icons">
    <p>English(IN)</p>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-whatsapp"></i>
    <i class="fa-brands fa-facebook"></i>
</div>
<div>
  <a href="/inc" style="text-decoration: none; color: rgb(8, 8, 8);"> <p>@2025 wanderlust .Inc.</p></a> 
</div>
<div class="last">
   <a href="/privacy"><p>privacy.</p></a> 
   <a href="/terms"> <p>Terms.</p></a>
   <a href="/map"><p>Sitemap.</p></a>
   <a href="/details"><p>company details.</p></a>
</div>
    </div>
</body>
